.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: #282c36;
  color: white;
}

.nav-links {
  width: 100%;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  padding-top: 25px;
  list-style: none;
}

.project {
  display:flex;
  justify-content: space-around;
}

.card {
  margin: auto;
  margin-bottom: 30px;
}

.pageTitle {
  margin-bottom: 80px;
}

.Works {
  padding-top: 70px;
}

.study-case {
  margin-top: 80px;
}


.intro-text {
  margin-left:50px;
  margin-right: 50px;
  margin-top: 50px;
}